<component name="libraryTable">
  <library name="springframework.security.spring.core" type="repository">
    <properties maven-id="org.springframework.security:spring-security-core:5.7.0" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-security-core-5.7.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-crypto-5.7.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-aop-5.3.20.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-5.3.20.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-5.3.20.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-5.3.20.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jcl-5.3.20.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-expression-5.3.20.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/lib/spring-security-core-5.7.0-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-crypto-5.7.0-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-aop-5.3.20-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-5.3.20-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-5.3.20-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-5.3.20-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jcl-5.3.20-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-expression-5.3.20-sources.jar!/" />
    </SOURCES>
  </library>
</component>